{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <style>
        table {width:100%; border-collapse:collapse}
        th {background: #ddd}
        th,td {border: 1px solid black}
    </style>
{% endblock %}

{% block body %}

    {% set auth = is_granted('IS_AUTHENTICATED_FULLY') %}

    {% if auth %}
        logged as: {{app.user.username}}; 
        <a href="{{ path('fos_user_security_logout') }}">logout</a>

        <br><br>
        <a href="{{path('edit', {'id': 0})}}">Добавить книгу</a>

    {% else %}
        <a href="{{ path('fos_user_security_login') }}">log in</a>
    {% endif%}

    <br><br>

    {% block booksList %}
        {% if books is not null %}
            <table>
            <tr>
                <th>id</th>
                <th>Наиме&shy;но&shy;ва&shy;ние</th>
                <th>Автор</th>
                <th>Дата про&shy;чте&shy;ния</th>
                {% if auth %}
                    <th>Сохранён&shy;ный файл об&shy;ложки</th>
                {% endif %}
                <th>Реальный файл обложки</th>
                {% if auth %}
                    <th>Сохра&shy;нённый файл книги</th>
                {% endif %}
                <th>Реаль&shy;ный файл книги</th>
                <th>Скачи&shy;вание раз&shy;решено</th>
                {% if auth %}
                    <th>Редак&shy;ти&shy;ровать книгу</th>
                    <th>Уда&shy;лить книгу</th>
                {% endif %}
                <th>Ска&shy;чать файл с кни&shy;гой</th>
            </tr>
        {% endif %}
        {% for book in books %}
            <tr>
            <td>{{ book.id }}</td>
            <td>{{ book.title }}</td>
            <td>{{ book.author }}</td>
            <td>{{ book.readDate is empty ? "" : book.readDate|date('Y-m-d') }}</td>
            {% if auth %}
                <td>{{ book.coverPath|replace({'/': ' / '}) }}</td>
            {% endif %}
            <td>{{ book.coverSrcPath }}</td>
            {% if auth %}
                <td>{{ book.contentPath|replace({'/': ' / '}) }}</td>
            {% endif %}
            <td>{{ book.contentSrcPath }}</td>
            <td><input type="checkbox" disabled {{ book.downloadEnabled ? 'checked="checked"' : '' }}</td>
            {% set downloadLink = book.contentPath ? '<a download href="' ~ path('download', {'id': book.id}) ~ '">Скачать</a>' : '' %}
            {% if auth %}
                <td><a href="{{ path('edit', {'id': book.id}) }}">Редактировать</a></td>
                <td><a href="{{ path('delete', {'id': book.id}) }}">Удалить</a></td>
                <td>{{ downloadLink|raw }}</td>
            {% else %}
                <td>{{ book.downloadEnabled ? downloadLink|raw : '' }}</td>
            {% endif %}
        {% else %}
            <p>Нет книг для отображения</p>
        {% endfor %}
        {% if books is not null %}
            </table>
        {% endif %}
    {% endblock %}

{% endblock %}
